docs/site/

# OSX Junk
.DS_Store

# test cache
.cache/*
tests/__pycache__/*
*.pytest_cache/
*.graphml
*.geojson
aqiGDL/settings.py
aqiGDL/__pycache__
*/__pycache__/*
settings.json
*.pyc

# ipynb_checkpoints
.ipynb_checkpoints
scripts/:
*/:
